/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;text-decoration: none;
}

a {
    color: black;
    padding: 10px;
}

h2 {
    color: rgb(75, 75, 75);
}

/* HEADER */

header {
    padding: 1rem 0;
    background: rgba(128, 128, 128, 0.6);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0 0 10px 10px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    box-shadow: 0 2px 7px -1px;
    width: fit-content;
}

header a {
    color: white;
    border-radius: 10px;
}

header a:hover {
    background-color: rgb(100, 100, 100);
    border: solid 1px;
    transition: all ease-in-out .2s;
}

.containerFlexRow {
    display: flex;
    justify-content: center;
    height: 100%;
}

.headerNavbar {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: 700;
}


/* MAIN */

#sectTop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 5rem;
}

#whoIs {
    padding: 2rem 0;
}

button {
    padding: 2em 2em;
    background-color: rgb(206, 206, 206);
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

button:hover {
    background-color: grey;
    color: white;
}

.btn {
    padding: 2em 2em;
    background-color: rgb(206, 206, 206);
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
} 

.btn:hover {
    background-color: grey;
    color: white;
}

#down {
    scroll-behavior: smooth;
}

.containerFlexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
}

.displayNone {
    display: none;
}

.containerBrands {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding: 1rem;
    margin: auto;
    flex-wrap: wrap;
}

.articleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    width: 400px;
    height: 100%;
    padding: 0 1rem;
    overflow: hidden;
}

.modal {
    background-color: grey;
    border: solid 1px;
    color: white;
    animation: modalOutIn 1s forwards;
    padding: 10px;
    border-radius: 10px;
}

.modalOut {
    animation: modalInOut 1s forwards;
}


/* Keyframes */

@keyframes modalOutIn {
    from {
        transform: translateY(300%);
    }

    to {
        transform: translateY(0%);
    }
    
}

@keyframes modalInOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(300%);
    }
    
}